<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title><%= current_page.data.title || 'BETVICTOR' %></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Asap:700|Yanone+Kaffeesatz:700' %>
<%= javascript_include_tag 'lib/modernizr-respond.js' %>