/**
 * Buttons
 */

@import "../config";
@import "../lib/sass.at-break";

$btn-width: 396px;
$btn-height: 60px;
$btn-default-color: #fff;
$btn-default-bg-1: silver;
$btn-default-bg-2: silver;

$btn-primary-color: #fff;
$btn-primary-bg-1: #3cb00f;
$btn-primary-bg-2: #4bc225;

.btn{
  @include inline-block;

  width: 100%;
  margin-bottom: 25px;
  padding: 8px;

  font-family: $base-font;
  color: $btn-default-color;
  font-size: 20px;
  font-weight: bold;
  border: rgba(black,.2) solid 1px;

  @include background-image(linear-gradient(0deg, $btn-default-bg-1 0%, $btn-default-bg-2 100%));

  @include box-shadow(0 0 20px rgba(black, .3));
  @include border-radius(2px);

  @include at-small{
    width: auto;
    min-width: $btn-width;
    font-size: 28px;
  }


  &:hover{
    // 5% brightness increase
    color: lighten($btn-default-color, 5%);
    background-color: lighten($btn-default-bg, 5%);
    text-decoration: none;
  }
}

// Variations
.btn-primary{
  color: $btn-primary-color;
  @include background-image(linear-gradient(0deg, $btn-primary-bg-1 0%, $btn-primary-bg-2 100%));

  &:hover{
    // 5% brightness increase
    color: lighten($btn-primary-color, 5%);
    @include background-image(linear-gradient(0deg, lighten($btn-primary-bg-1, 5%) 0%, lighten($btn-primary-bg-2, 5%) 100%));
  }
}