/**
 * Badges
 */

.badges{
  display: none;
  position: absolute;
  top: 140px;
  left: 50%;
  margin-left: 250px;

  img{
    width: 100%;
  }

  @include at-medium{
    display: block;
  }

  @include at-large{
    width: auto;
  }
}