/**
 * New customer offer
 */

@import "../config";

.new-customer-offer{
  position: relative;
  display: block;
  width: 100%;
  margin: 15px auto;
  padding: 20px;

  background-color: rgba(#0d1926, .9);
  border: 3px solid rgba(#666, .9);
  text-align: center;
  font-family: $font-2;

  @include at-medium{
    max-width: 600px;
    margin: 40px auto 25px;
  }


  .body{
    color: white;

    .title{
      margin: 0;
      font-family: $font-1;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1px;

      @include at-small{
        margin-bottom: 6px;
        font-size: 74px;
        line-height: 64px;
      }
    }

    .date{
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -1px;
      color: $brand-color-1-light;

      @include at-small{
        font-size: 30px;
      }
    }

    .line-1{
      margin: 5px 0;
      font-size: 46px;
      line-height: 44px;

      @include at-small{
        font-size: 56px;
        line-height: 57px;
      }
    }

    .line-2{
      margin: 5px;
      font-size: 53px;
      line-height: 50px;
      color: $brand-color-1-light;

      @include at-small{
        font-size: 109px;
        line-height: 97px;
      }
    }

    .value{
      margin: 5px 0 0;
      font-size: 124px;
      line-height: 120px;

      @include at-small{
        font-size: 220px;
        line-height: 190px;
        margin-bottom: 20px;
      }
    }
  }

}